@page
@model BasketballNewZealand.Pages.Drafts.IndexModel

@{
    ViewData["Title"] = "Drafts";
}

<h2>Drafts</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Draft[0].TeamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Draft) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DraftID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DraftID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DraftID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
